# DB
DB_HOST=<Your DB Host>
DB_PORT=<Your DB port>
DB_NAME=<You named for it>
DB_USER=<You named for it>
DB_PASSWORD=<Your password>

# API
# IMPORTANT: Host=<you named> (must your service name of DB in docker-compose)
DB_CONNECTION_STRING=Host=<DB HOST>;Port=<PORT>;Database=<DB>;Username=<YOUR USERNAME>;Password=<YOUR PASSWORD>

# JWT
JWT_KEY=<YOUR KEY>
JWT_ISSUER=<PORT>
JWT_AUDIENCE=<PORT>

# SMTP (GMAIL APP PASSWORD)
SMTP_USER=<YOUR GMAIL>
SMTP_PASS=<YOUR GMAIL APP PASSWORD>
SMTP_FROM=<CUSTOM YOUR MAIL>